#mapid { 
    height: 25em;
    width: 100em;
    margin-top: 1em;
    max-height: 50%;
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    max-height:100%;
    max-width:100%;
}