

/* css for the body */
/* Body styling */

body {
    margin: 0;
    padding: 0;
    background: url(../images/book.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
}


/* CSS for the login/register box */


.signin {
    width: 320px;
    height: 420px;
    background: #000;
    background: rgba(14, 1, 26, 0.4);
    color: #cfa67c;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -30%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.signin p {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.signin input {
    width: 100%;
    margin-bottom: 20px;
}

::placeholder {
    color: #eee4d0;
}

.signin input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #cfa67c;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.signin input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #66CDAA;
    border: 1px solid #3c2e27;
    color: #eee4d0;
    font-size: 18px;
    border-radius: 20px;
}

.signin input[type="submit"]:hover {
    cursor: pointer;
    background: #6d1f09;
    color: #3c2e27;
}


/* CSS for the divs at the top */
.flex-grid {
    display: flex;
  }
.flex-grid .col {
    flex: 1;
  }
.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
.flex-grid-thirds .col {
    width: 32%;
  }
  
* {
    box-sizing: border-box;
  }
body {
    padding: 20px;
  }
.flex-grid { 
    margin: 0 0 20px 0;
  }
.col {
    padding: 20px;
  }

#left{
    text-align: left;
}
.signin a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #cfa67c;

}
#right{
    text-align: right;
}
.btn{
    color: #eee4d0;
    font-size: 20px;
    background-color: #66CDAA;
    border-radius: 20px;
    border: 1px solid #3c2e27;
    font-family: 'Dosis', sans-serif;
  }

.btn:hover {
    cursor: pointer;
    background: #6d1f09;
    color: #3c2e27;
}

#title {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 100px;
    line-height: 40px;
    color: #3c2e27;
}

#loginBox {
    display: block;
}

#registerBox {
    display: none;
}

.user-image {
    margin: 10px;
    background-color: #eee4d0; 
    padding: 2vh;
    border-radius: 10px;
    background: #000;
    background: rgba(14, 1, 26, 0.4);
    height: 450px
/*    border: #6d1f09 solid 2px; */
    
}

.image-here {
    height: 200px;
    width: 200px;
    background-color: #66CDAA;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 5vh;
    border-radius: 10px;
}

#blank-profile-pic {
    width: 200px;
    height: 200px;
    border: #6d1f09 solid 1px;

}

.favorites-area {
    margin: 10px;
    background-color: #eee4d0;
    padding: 10px;
    height: 450px;
    border-radius: 10px;
    color: #cfa67c;
    background: #000;
    background: rgba(14, 1, 26, 0.4);
/*    border: #6d1f09 solid 2px; */

}

.search-area {
    margin: 10px;
    background-color: #eee4d0;
    padding-top: 10px;
    height: 450px;
    border-radius: 10px;
    background: #000;
    background: rgba(14, 1, 26, 0.4);
    color: #cfa67c;
/*    border: #6d1f0a solid 2px; */
    
}

.map-area {
    margin: 10px;
    background-color: #eee4d0;
    padding: 10px;
    height: 450px;
    border-radius: 10px;
    background: #000;
    background: rgba(14, 1, 26, 0.4);
    color: #cfa67c;
    clear: both;
    
/*    border: #6d1f09 solid 2px; */

}

.left-side {
    float: left;
}

.right-side {
    float: right;
}
/* Zip code input border */
#exampleInputZipCode1   {
    color: black;
    border: #3c2e27 1px solid;
}
/* User name input border */
#exampleInputUsername1   {
    color: black;
    border: #3c2e27 1px solid;
}
/* Submit button in search area div */
#submitBtn  {
    background: #66CDAA;
    color: #eee4d0;
    border: #3c2e27 2px solid;
    margin-left: 25px;
    margin-top: 5px;
}
/* Modal */
#modalBackground   {
    background: #eee4d0;
    border: #6d1f09 solid 2px;
}
/* Modal title */
#exampleModalLabel  {
    font-size: 32px;
}
/* Close button in modal */
#closeBtn   {
    background: #66CDAA;
    border: #3c2e27 1px solid;
}
/* Save changes button in modal */
#changesBtn {
    background: #66CDAA;
    border: #3c2e27 1px solid;
}
/* Edit user profile button*/
#userBtn    {
    background: #66CDAA; 
    border: #3c2e27 1px solid;
    margin-left: 8.5vw;
    margin-top: 20px;
    opacity: 1.0;
}
/* Sign-out button */
#sign-out-button {
    background: #66CDAA;
    color: #eee4d0;
}
/* Favorite books hr tag */
#faves  {
    border-top: #cfa67c 2px solid;
    margin-bottom: 20px;
}
/* User profile hr tag */
#profile  {
    border-top: #cfa67c 2px solid;
    padding-bottom: 3.5vh;
    margin-bottom: 20px;
}
/* Favorites title */
#faveTitle {
    text-align: center;
    color: #cfa67c;
}

/* Favorite books section */
#faveBooks  {
    overflow-y: scroll;
    width: 295px;
    height: 270px;
    background: white;
    border-radius: 10px;
    border: #6d1f09 solid 2px;
    float: left;  
    padding: 5px;
    margin-left: 1vw;
    margin-top: 1vh
}
/* Search results in search books area */


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* CSS for Sign Out Page */
#main{

width: 100px; 
height: 150px;
/* background-position: center; */
background-repeat: no-repeat;
background-image: url(../images/icon3.png);
margin: auto;
}

/* Title scroll bar in search books area */

#titleScroll {
    overflow-y: scroll;
    width: 21vw;
    height: 35vh;
    background: white;
    border-radius: 10px;
    border: #6d1f09 solid 2px;
    float: left;  
    padding-left: 4.5vw;;
    padding-top: 10px;
    margin-top: 25px;
    margin-left: 1.5vw;

}
/* Book details in search books area */
#search-results {
    overflow-y: scroll;
    width: 33vw;
    height: 35vh;
    background: white; 
    border: #6d1f09 solid 2px;
    float: left; 
    padding: 5px;
    border-left: none;
    margin-top: 25px;
    margin-right: 20px;
    
}   
/* User name in welcome nav span */
#userID {
    color: #eee4d0;
}
/* Color for the word "Welcome" in nav span */
#welcome    {
    color: #eee4d0;
}
/* Color for "!" in nav span */
#exclamation    {
    color: #eee4d0;
}

/* Book search title */
#bookSearchTitle    {
    padding-left: 2vw;
}
/* Edit profile button */
#bookSearch {
    margin-left: 2vw;
    width: 54vw;
    border: #6d1f09 solid 1px;
}
/* Book search formatting */
.search-image {
    padding-left: 5px;
    padding-bottom: 5px;
}
.book-description {
    padding: 5px;
}
/* Map title */
#mapTitle  {
    margin-left: 1vw;
}