
/* css for the body */
body {
    margin: 0;
    padding: 0;
    background: url(../images/book.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
}

/* CSS for the login/register box */
.signin{
    width: 320px;
    height: 420px;
    background: #000;
    background: rgba(14, 1, 26, 0.4);
    color: #cfa67c;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -30%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.signin p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.signin input{
    width: 100%;
    margin-bottom: 20px;
}

::placeholder{
    color: #eee4d0;
}
.signin input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #cfa67c;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.signin input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #66CDAA;
    border: 1px solid #3c2e27;
    color: #eee4d0;
    font-size: 18px;
    border-radius: 20px;
}

.signin input[type="submit"]:hover{
    cursor: pointer;
    background: #6d1f09;
    color: #3c2e27;
}

.signin a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #cfa67c;
}

.signin a:hover {
    color: #3c2e27;
}


/* CSS for the divs at the top */
.flex-grid {
    display: flex;
  }
.flex-grid .col {
    flex: 1;
  }
.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
.flex-grid-thirds .col {
    width: 32%;
  }
  
* {
    box-sizing: border-box;
  }
body {
    padding: 20px;
  }
.flex-grid { 
    margin: 0 0 20px 0;
  }
.col {
    padding: 20px;
  }

#left{
    text-align: left;
}
#right{
    text-align: right;
}
.btn{
    color: #eee4d0;
    font-size: 20px;
    background-color: #66CDAA;
    border-radius: 20px;
    border: 1px solid #3c2e27;
    font-family: 'Dosis', sans-serif;
  }

.btn:hover {
    cursor: pointer;
    background: #6d1f09;
    color: #3c2e27;
}

#title {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 100px;
    line-height: 40px;
    color: #3c2e27;
}

#loginBox {
    display: none;
}

#registerBox {
    display: none;
}
