/* Body styling */
body {
    margin: 0;
    padding: 0;
    background: url(../images/book.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
}

.signin {
    width: 320px;
    height: 420px;
    background: #000;
    background: rgba(14, 1, 26, 0.4);
    color: #cfa67c;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -30%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.signin p {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.signin input {
    width: 100%;
    margin-bottom: 20px;
}

::placeholder {
    color: #eee4d0;
}

.signin input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #cfa67c;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.signin input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #66CDAA;
    border: 1px solid #3c2e27;
    color: #eee4d0;
    font-size: 18px;
    border-radius: 20px;
}

.signin input[type="submit"]:hover {
    cursor: pointer;
    background: #6d1f09;
    color: #3c2e27;
}

.signin a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #cfa67c;
}

.signin a:hover {
    color: #3c2e27;
}

#title {
    color: white;
    text-align: center;
    margin-top: 60px;
    font-size: 100px;
    line-height: 40px;
    color: #3c2e27;
}

.user-image {
    margin: 10px;
    background-color: #eee4d0;
    padding: 10px;
    border-radius: 10px;
    border: #6d1f09 solid 5px;

}

.image-here {
    height: 200px;
    width: 200px;
    background-color: #66CDAA;
    margin: 20px;
    border-radius: 10px;
}

#blank-profile-pic {
    width: 200px;
    height: 200px'

}

.favorites-area {
    margin: 10px;
    background-color: #eee4d0;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    border: #6d1f09 solid 5px;

}

.search-area {
    margin: 10px;
    background-color: #eee4d0;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    border: #6d1f09 solid 5px;

}

.map-area {
    margin: 10px;
    background-color: #eee4d0;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    border: #6d1f09 solid 5px;

}

.left-side {
    float: left;
}

.right-side {
    float: right;
}
/* Zip code input border */
#exampleInputZipCode1   {
    color: black;
    border: #3c2e27 2px solid;
}
/* User name input border */
#exampleInputUsername1   {
    color: black;
    border: #3c2e27 2px solid;
}
/* Submit button in search area div */
#submitBtn  {
    background: #6d1f09;
    border: #3c2e27 5px solid;
}
/* Modal */
#modalBackground   {
    background: #eee4d0;
    border: #6d1f09 solid 5px;
}
/* Modal title */
#exampleModalLabel  {
    font-size: 32px;
}
/* Close button in modal */
#closeBtn   {
    background: #66CDAA;
    border: #3c2e27 2px solid;
}
/* Save changes button in modal */
#changesBtn {
    background: #6d1f09;
    border: #3c2e27 2px solid;
}
/* Edit user profile button*/
#userBtn    {
    background: #6d1f09;
    border: #3c2e27 2px solid;
}
/* Sign-out button */
#sign-out-button {
    background: #3c2e27;
    color: white;
}
/* Favorite books hr tag */
#faves  {
    border-top: #6d1f09 2px solid;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }